@model List<CNTTFAQ.Models.DANH_MUC>

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Chào mừng đến với trang chủ</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Intro Section -->
    <div class="hero-section">
        <div class="hero-content">
            <div class="hero-center">
                <img src="@Url.Content("~/Assets/images/logo/VLU.png")" alt="logo" style="height: 100px">
                <p></p>
                <h1 style="font-size: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Arial, 'Trebuchet MS', sans-serif; color: white; text-shadow: 5px 2px 4px black">
                    CHÀO MỪNG ĐẾN VỚI KHOA CÔNG NGHỆ THÔNG TIN
                </h1>
                <p style="font-size: 40px; color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    " Điều Bạn Thường Hỏi "
                </p>
            </div>
        </div>
        <!-- slider -->
        <div id="hero-slider" class="owl-carousel">
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-6.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-1.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-2.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-3.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-4.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-5.png")"></div>
        </div>
    </div>
    <!-- Intro Section -->
    <!-- About section -->
    <div class="about-section">
        <div class="overlay"></div>
        <!-- card section -->
        <div class="card-section">
            <div class="container">
                <div class="row">
                    <!-- single card -->
                    <div class="col-md-4 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <h2>BẤT CỨ LÚC NÀO, Ở BẤT CỨ ĐÂU</h2>
                            <p>Tiện lợi, hữu ích, đơn giản, dễ sử dụng, dễ tìm kiếm, có thể hỗ trợ giải đáp thắc mắc sinh viên khoa công nghệ thông tin</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-4 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <h2>XỬ LÝ NHANH CHÓNG</h2>
                            <p>Khi nhận thắc mắc từ sinh viên, đội ngũ khoa công nghệ thông tin của Nhà trường sẽ xử lý và hồi đáp nhanh chóng.</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-4 col-sm-12">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h2>NƠI GIẢI ĐÁP THẮC MẮC</h2>
                            <p>Hỗ trợ sinh viên trả lời những thắc mắc về ngành học và môn học, chính sách và thủ tục tại trường, hỗ trợ cải thiện kết quả học tập.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card section end-->
        <!-- About contant -->
    </div>
    <!-- About section end -->
    <!-- Testimonial section -->
    <div class="testimonial-section pb100" style="padding: 0px">
        <div class="test-overlay" style="background-image:url('@Url.Content("~/Assets/images/avatar/Book.png")')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="section-title left">
                        <h2>DANH SÁCH CÁC DANH MỤC</h2>
                    </div>
                    <div class="owl-carousel" id="testimonial-slide">
                        @foreach (var item in Model)
                        {
                            <!-- single testimonial -->
                            <div class="testimonial">
                                <p>@MvcHtmlString.Create(item.MO_TA)</p>
                                <div class="client-info">
                                    <div class="avatar">
                                        <img src="@item.HINH_ANH" alt="">
                                    </div>
                                    <div class="client-name">
                                        <h2>@Html.ActionLink(item.DANH_MUC1, "Index", "Questions", new { page = 1, category = @item.ID }, null)</h2>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial section end-->
    <!-- Services section -->
    <div class="services-section spad" style="padding: 0px">
        <div class="container">
            <div class="section-title dark">
                <h2>DANH MỤC</h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                 {
                    <!-- single service -->
                    <div class="col-md-4 col-sm-6">
                        <div class="service">
                            <div class="service-text">
                                <h2>@Html.ActionLink(item.DANH_MUC1, "Index", "Questions", new { page = 1, category = @item.ID }, null)</h2>
                                <p>@MvcHtmlString.Create(item.MO_TA)</p>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
    <!-- services section end -->
</body>
</html>
