@model List<CNTTFAQ.Models.DANH_MUC>

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Chào mừng đến với trang chủ</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .client-name h1 a:hover {
            color: white !important
        }
    </style>
</head>
<body>
    <!-- Intro Section -->
    <div class="hero-section">
        <div class="hero-content">
            <div class="hero-center">
                <img src="@Url.Content("~/Assets/images/logo/VLU.png")" alt="logo" style="height: 100px">
                <p></p>
                <h1 style="font-size: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Arial, 'Trebuchet MS', sans-serif; color: white; text-shadow: 5px 2px 4px black">
                    CHÀO MỪNG ĐẾN VỚI <br />KHOA CÔNG NGHỆ THÔNG TIN
                </h1>
            </div>
        </div>
        <!-- slider -->
        <div id="hero-slider" class="owl-carousel">
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-6.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-1.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-2.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-3.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-4.png")"></div>
            <div class="item  hero-item" data-bg="@Url.Content("~/Assets/images/backgrounds/transaction-background-5.png")"></div>
        </div>
    </div>

    <div class="about-section">
        <!-- card section -->
        <div class="card-section">
            <div class="container">
                <div class="row">
                    <!-- single card -->
                    <div class="col-md-4 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <h2>BẤT CỨ LÚC NÀO, Ở BẤT CỨ ĐÂU</h2>
                            <p>Tiện lợi, hữu ích, đơn giản, dễ sử dụng, dễ tìm kiếm, có thể hỗ trợ giải đáp thắc mắc sinh viên khoa công nghệ thông tin</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-4 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <h2>XỬ LÝ NHANH CHÓNG</h2>
                            <p>Khi nhận thắc mắc từ sinh viên, đội ngũ khoa công nghệ thông tin của Nhà trường sẽ xử lý và hồi đáp nhanh chóng.</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-4 col-sm-12">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h2>NƠI GIẢI ĐÁP THẮC MẮC</h2>
                            <p>Hỗ trợ sinh viên trả lời những thắc mắc về ngành học và môn học, chính sách và thủ tục tại trường, hỗ trợ cải thiện kết quả học tập.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-section pb100" style="padding: 10px; height: fit-content">
        <div class="test-overlay" style="margin-bottom: 40px ;background-image:url('@Url.Content("~/Assets/images/avatar/Category.png")')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="section-title left">
                        <h2>DANH SÁCH CÁC CHỦ ĐỀ</h2>
                    </div>
                    <div class="owl-carousel" id="testimonial-slide" style="padding: 30px">
                        @foreach (var item in Model)
                        {
                            <!-- single testimonial -->
                            <div class="testimonial">
                                <p>@MvcHtmlString.Create(item.MO_TA)</p>
                                <div class="client-info">
                                    <div class="client-name" style="margin-bottom: 10px">
                                        <h1>@Html.ActionLink(item.DANH_MUC1, "Index", "Questions", new { page = 1, category = @item.ID }, null)</h1>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="section-title dark" style="margin: 10px; padding: 0px">
                    <h2 style="font-family: 'Oswald', sans-serif">
                        CÂU HỎI THƯỜNG GẶP
                    </h2>
                </div>
                @foreach (var list in ViewBag.MaxQuestion)
                {
                    <div class="col-md-30">
                        <div class="site-accordions">
                            <div class="panel-group" id="accordion">
                                <!-- Single Accordions -->
                                <div class="panel active">
                                    <div class="panel-heading">
                                        <h1 class="panel-title" style="font-size: 120%">@list.CAU_HOI1</h1>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#@list.ID"></a>
                                    </div>
                                    <div id="@list.ID" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                @MvcHtmlString.Create(list.MO_TA)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</body>
</html>
