@model CNTTFAQ.Models.DANH_MUC
<!DOCTYPE html>
<html dir="ltr" lang="en">
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <title>Xóa chủ đề</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .customize-input input:hover {
            background: green !important;
            color: #ffffff !important;
        }

        .customize-input input.cancel:hover {
            background: #ff0000 !important;
            color: #ffffff !important;
        }
    </style>
</head>
<body>
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @if (ViewBag.ResultMessage != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.ResultMessage");
                        }
                    </script>
                }
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-7 align-self-center">
                            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Bạn có chắc là muốn xóa chủ đề này?</h3>
                            <div class="d-flex align-items-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb m-0 p-0">
                                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageCatalog")" class="text-muted">Quay lại</a></li>
                                        <li class="breadcrumb-item text-muted active" aria-current="page">Xóa chủ đề</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="card">
                            <div class="card-body collapse show">
                                <h4 class="card-title">
                                    Chủ đề
                                </h4>
                                <p class="card-text">
                                    @Html.DisplayFor(model => model.DANH_MUC1)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <!-- Row -->
                <div class="row">
                    <div class="col-12" style="margin-top: 0">
                        <div class="card">
                            <div class="card-body collapse show">
                                <h4 class="card-title">
                                    Mô tả
                                </h4>
                                <p class="card-text">
                                    @MvcHtmlString.Create(Model.MO_TA)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <!-- Row -->
                <div class="row">
                    <div class="col-12" style="margin-top: 0">
                        <div class="card">
                            <div class="card-body collapse show">
                                <h4 class="card-title">
                                    Hình đại diện
                                </h4>
                                <p class="card-text">
                                    <img id="pic" src="@Model.HINH_ANH" width="600">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <!-- Row -->
                <div class="row">
                    <div class="col-12" style="margin-top: 0">
                        <div class="card">
                            <div class="card-body collapse show">
                                <h4 class="card-title">
                                    Ngày tạo
                                </h4>
                                <p class="card-text">
                                    @Html.DisplayFor(model => model.NGAY_TAO)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <!-- Row -->
                <div class="row">
                    <div class="col-12" style="margin-top: 0">
                        <div class="card">
                            <div class="card-body collapse show">
                                <h4 class="card-title">
                                    Người tạo
                                </h4>
                                <p class="card-text">
                                    @Html.DisplayFor(model => model.AspNetUser.Email)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="customize-input float-left">
                            <input type="submit" value="Xóa chủ đề" style="color: green" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius" />
                        </div>

                        <div class="customize-input float-right" style="margin-left: 10px">
                            <input type="button" value="Hủy bỏ" onclick="location.href='@Url.Action("Index", "ManageCatalog")'" style="color: red" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius cancel" />
                        </div>
                    </div>
                }
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                @DateTime.Now.Year - All Rights Reserved by Adminmart. Designed and Developed by <a>SEPK24T-Team11</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</body>

</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#pic').attr('src', e.target.result).attr('width', 'auto').attr('height', 'auto');
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>