@model CNTTFAQ.Models.DANH_MUC
<!DOCTYPE html>
<html dir="ltr" lang="en">
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <title>Chỉnh sửa chủ đề</title>
    <style>
        .customize-input input:hover {
            background: green !important;
            color: #ffffff !important;
        }

        .customize-input input.cancel:hover {
            background: #ff0000 !important;
            color: #ffffff !important;
        }
    </style>
</head>

<body>
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Chỉnh sửa chủ đề</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageCatalog")" class="text-muted">Quay lại</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Chỉnh sửa chủ đề</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("Edit", "ManageCatalog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.ID)

                                        <div class="form-group">
                                            <h4 class="card-title">Chủ đề</h4>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DANH_MUC1, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled"} })
                                                @Html.ValidationMessageFor(model => model.DANH_MUC1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="card-title">Mô tả</h4>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.MO_TA, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="card-title">Hình đại diện <a style="color: red">*</a></h4>
                                            <div class="col-md-10">
                                                <input type="file" name="HINH_ANH" id="IMG" onchange="readURL(this)" accept="image/gif,image/jpeg,image/png"/>
                                                @Html.ValidationMessageFor(model => model.HINH_ANH, "", new { @class = "text-danger" })
                                            </div>
                                            <img id="pic" src="@Model.HINH_ANH" width="600" />
                                            <img id="pic" />
                                        </div>

                                        <div class="form-group">
                                            <h4 class="card-title">Người chỉnh sửa</h4>
                                            <div class="col-md-10">
                                                <input type="text" value="@User.Identity.Name" disabled class="form-control" />
                                                @Html.ValidationMessageFor(model => model.ID_TAI_KHOAN, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="customize-input float-left">
                                                <input type="submit" value="Lưu chỉnh sửa" style="color: green" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="customize-input float-left" style="margin-left: 10px">
                                                <input type="button" value="Hủy bỏ" onclick="return Confirmmessage()" style="color: red" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius cancel" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                @DateTime.Now.Year - All Rights Reserved by Adminmart. Designed and Developed by <a>SEPK24T-Team11</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Wrapper -->
            <!-- ============================================================== -->
            <!-- End Wrapper -->
            <!-- ============================================================== -->
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#MO_TA',
            menubar: false
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic').attr('src', e.target.result).attr('width', '600');
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function Confirmmessage() {
            var alert = confirm("Cảnh báo: quá trình chưa hoàn tất! Xác nhận nếu như bạn muốn hủy bỏ?");
            if (alert) {
                document.location.href = '@Url.Action("Index", "ManageCatalog")';
            } else {
                return false;
            }
        }
    </script>
}