<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link href="@Url.Content("~/Assets/images/logo/VanLangLogoPage.png")" rel="shortcut icon" />

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/LoginCss/font.css")">

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/LoginCss/owl.carousel.min.css")">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/LoginCss/bootstrap.min.css")">

    <!-- Style -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/LoginCss/style.css")">

    <title>Đăng nhập</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content("~/Assets/images/avatar/undraw_remotely_2j6y.svg")" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Chào mừng đến với trang đăng nhập</h3>
                                <p class="mb-4">Website các câu hỏi thường gặp khoa công nghệ thông tin</p>
                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="username">Tên tài khoản</label>
                                    <input type="text" class="form-control" id="username">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Ghi nhớ tài khoản</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="@Url.Action("Index", "Home")" class="forgot-pass">Trở về trang chủ</a></span>
                                </div>

                                <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Assets/js/LoginJS/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/LoginJS/popper.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/LoginJS/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/LoginJS/main.js")"></script>
</body>
</html>