@model CNTTFAQ.Models.CAU_HOI

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Câu hỏi thường gặp</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Page header -->
    <div class="page-top-section">
        <div class="overlay" style="background-size: cover; background-image:url('@Url.Content("~/Assets/images/backgrounds/FAQ2_BG.png")')"></div>
        <div class="container text-right">
            <div class="page-info">
                <h2 style="color: black">Danh sách các câu hỏi</h2>
                <div class="page-links">
                    <a href="@Url.Action("Index", "Home")" style="color: black">Trang chủ</a>
                    <span style="color: black">Câu hỏi</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page header end-->
    <!-- page section -->
    <div class="page-section spad" style="padding-bottom: 15px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 blog-posts">
                    <!-- Post item -->
                    <div class="post-item" style="margin-bottom: 35px">
                        <div class="post-thumbnail" style="margin-bottom: 35px">
                            <img src="@Model.DANH_MUC.HINH_ANH" alt="">
                            <div class="post-date">
                                <h3 style="margin: 13px">@Model.NGAY_TAO</h3>
                            </div>
                        </div>
                        <div class="post-content">
                            <h2 class="post-title">@Model.CAU_HOI1</h2>
                            <div class="post-meta">
                                <a href="">Ngày đăng:   @Model.NGAY_TAO</a>
                                <a href="">Được đăng bởi:   @Model.AspNetUser.Email</a>
                                <a href="">Chủ đề:   @Model.DANH_MUC.DANH_MUC1</a>
                            </div>
                            <p>@MvcHtmlString.Create(Model.MO_TA)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="be-comment-block">
        <h1 class="comments-title">XEM THÊM CÂU TRẢ LỜI</h1>
        <div class="be-comment">
            @if (Model.CAU_TRA_LOI.Count() == 0)
            {
                <div>Hiện tại chưa có thêm câu trả lời nào</div>
            }
            else
            {
                foreach (var cautraloi in Model.CAU_TRA_LOI)
                {
                    <div class="be-img-comment">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                    </div>
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                            @cautraloi.AspNetUser.Email
                        </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            @cautraloi.NGAY_TRA_LOI
                        </span>

                        <div class="be-comment-text">
                            @MvcHtmlString.Create(cautraloi.CAU_TRA_LOI1)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!-- page section end-->
</body>
</html>
