@using CNTTFAQ.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CAU_HOI>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danh sách câu hỏi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HostSpace template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link href="@Url.Content("~/Assets/images/logo/VanLangLogoPage.png")" rel="shortcut icon" />

    <!-- Questions Page-->
    <link href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/owl.carousel.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/owl.theme.default.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/blog.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/HostSpaceUserPageCss/blog_responsive.css")">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/bootstrap.min.css")">
    <!-- Core Navigation -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/coreNavigation-1.1.3.min.css")">
    <!-- Navbar Style -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/navbar-style.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/owl.carousel.min.css")">
    <!-- Animate.css -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/animate.css")">
    <!-- Line Icons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- LightBox -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/lightbox.min.css")">
    <!-- Style -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/style.css")">
    <!-- Style SCSS-->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/style.scss")">

    <style>
        .coverfooter:after {
            content: "";
            position: absolute;
            bottom: -1%;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100px;
            background: transparent;
            background-size: 100% 100%;
            background-image: url('@Url.Content("~/Assets/images/backgrounds/bottom-wave.png")');
        }
        .news_post_content {
            padding-top: 0px !important;
            padding-bottom: 33px !important
        }
    </style>
</head>
<body>
    <div class="super_container">
        <!-- Header -->
        <header class="header trans_400">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="@Url.Content("~/Assets/images/logo/Nav-Logo.png")" style="width: 20%" />
                                </a>
                            </div>
                            <nav class="main_nav ml-auto mr-auto">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                </ul>
                            </nav>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @if (ViewBag.ResultMessage != null)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.ResultMessage");
                    }
            </script>
        }

        <div class="home">
            <div class="home_background"></div>
            <div class="background_image background_city" style="background-image:url('@Url.Content("~/Assets/images/backgrounds/city_4.png")')"></div>
            <div class="cloud cloud_3"><img src="@Url.Content("~/Assets/images/backgrounds/cloud_full_3.png")" alt=""></div>
            <div class="cloud cloud_4"><img src="@Url.Content("~/Assets/images/backgrounds/cloud.png")" alt=""></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">Danh sách câu hỏi</div>
                                <div class="breadcrumbs">
                                    <ul class="d-flex flex-row align-items-center justify-content-start">
                                        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                        <li>Danh sách câu hỏi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Domain Search -->
        <div class="domain_search" style="padding-bottom: 70px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="domain_search_form_container d-flex flex-column align-items-center justify-content-center">
                            <form action="@Url.Action("Search", "Questions")" method="get" id="domain_search_form" class="domain_search_form d-flex flex-md-row flex-column align-items-center justify-content-start">
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <input type="text" class="domain_search_input" name="Keyword" placeholder="Nhập câu hỏi hoặc từ khóa bạn cần tìm" value="@ViewBag.keyword" required="required">
                                    <div style="background-color: white" class="domain_search_dropdown d-flex flex-row align-items-center justify-content-start">
                                    </div>
                                </div>
                                <button type="submit" class="domain_search_button d-flex flex-row align-items-center justify-content-center">
                                    <img src="@Url.Content("~/Assets/images/icons/search.png")" alt="">Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="coverfooter"></div>

        <!-- News -->
        <div class="news">
            <div class="container">
                <div class="row">

                    <!-- News Content -->
                    <div class="col-lg-9">
                        <div class="news_posts">
                            <!-- News Post -->
                            @if (Model.Count() == 0)
                            {
                                <h2 style="padding: 20px">Không tìm thấy kết quả</h2>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <div class="news_post magic_fade_in">
                                        <div class="news_post_content">
                                            <div class="news_post_title">
                                                <a style="font-size: 20px" href="@Url.Action("Details", "Questions", new { item.ID })">@item.CAU_HOI1</a>
                                            </div>
                                            <div class="news_post_meta">
                                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                                    <li>Đăng bởi: <b>@item.AspNetUser.Email</b></li>
                                                    <li>Lượt xem: <b>@item.LUOT_XEM</b></li>
                                                    <li>Chủ đề:  <b>@item.DANH_MUC.DANH_MUC1</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- Page Nav -->
                        <div class="page_nav">
                            Tổng số trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, category = ViewBag.category }))
                        </div>
                    </div>

                    <!-- News Sidebar -->
                    <div class="sidebar_search magic_fade_in">
                        <div class="sidebar_title_container">
                            <div>Chủ Đề</div>
                        </div>
                        <div class="sidebar_list">
                            <div>@Html.Action("CategoryPartical", "Questions")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================================
    CONTACT
    =============================================== -->
    <section id="contact">
        <div class="svg-wave">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 3600 248">
                <path d="M3601,31.227S2736.31,201.97,1661,72.2C547.345-62.2,0,32.227,0,32.227V343H3602Z"></path>
            </svg>
        </div>
        <div class="container">
            <h2>Liên Hệ</h2>
            <div class="row">
                <div class="col-lg-4 wow fadeInLeft" data-wow-duration=".2s" data-wow-delay=".4s">
                    <h4>Địa chỉ</h4>
                    <a href="mailto:k.cntt@vanlanguni.edu.vn" class="email-link">k.cntt@vanlanguni.edu.vn</a>
                    <p>028. 71099240</p>
                    <p>Phòng 5.07, Tòa nhà LV, Cơ sở chính: 69/68 Đặng Thùy Trâm, P.13, Q.Bình Thạnh <b>TP. HCM</b></p>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/khoacntt.vanlang"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/universityvan?lang=vi/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.vanlanguni.edu.vn/"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="https://www.youtube.com/user/truongdhvanlang/featured"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 wow fadeInLeft" data-wow-duration=".2s" data-wow-delay=".6s">
                    <h4>Gửi câu hỏi</h4>
                    <form action="@Url.Action("Index", "Questions")" method="post">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="HO_TEN" placeholder="Họ và Tên" class="form-control" required
                                       oninvalid="this.setCustomValidity('Mời bạn nhập Họ và Tên vào ô này')"
                                       oninput="this.setCustomValidity('')" />
                            </div>
                            <div class="col">
                                <input type="text" name="ID_TAI_KHOAN" value="@User.Identity.Name" disabled class="form-control" />
                            </div>
                        </div>
                        <div class="form-group wow fadeInLeft" data-wow-duration=".2s" data-wow-delay=".6s">
                            <input type="text" name="CAU_HOI_MUON_HOI" placeholder="Câu hỏi" class="form-control" required
                                   oninvalid="this.setCustomValidity('Mời bạn nhập tiêu đề câu hỏi vào ô này')"
                                   oninput="this.setCustomValidity('')" />
                        </div>
                        <!-- Form Group -->
                        <div class="form-group wow fadeInLeft" data-wow-duration=".2s" data-wow-delay=".6s">
                            <textarea type="text" name="MO_TA" placeholder="Mô tả" id="form-message" cols="30" rows="5" class="form-control" required
                                      oninvalid="this.setCustomValidity('Mời bạn nhập mô tả vào ô này')"
                                      oninput="this.setCustomValidity('')"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi câu hỏi</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ==============================================
    FOOTER
    =============================================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; @DateTime.Now.Year All Rights Reserved | Design by <a>SEPK24T-Team11.</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/popper.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/TimelineMax.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/ScrollMagic.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/animation.gsap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/ScrollToPlugin.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/easing.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/progressbar.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/parallax.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/HostSpaceUserPageJS/blog.js")"></script>
</body>
</html>
