@using CNTTFAQ.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CAU_HOI>

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Câu hỏi thường gặp</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Page header -->
    <div class="page-top-section">
        <div class="overlay" style="background-size: cover; background-image:url('@Url.Content("~/Assets/images/backgrounds/FAQ_BG.png")')"></div>
        <div class="container text-right">
            <div class="page-info">
                <h2 style="color: black">Danh sách các câu hỏi</h2>
                <div class="page-links">
                    <a href="@Url.Action("Index", "Home")" style="color: black">Home</a>
                    <span style="color: black">Câu hỏi</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page header end-->
    <!-- page section -->
    <div class="page-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 blog-posts">
                    @foreach (var item in Model)
                    {
                        <!-- Post item -->
                        <div class="post-item">
                            <div class="post-thumbnail">
                                <img src="@Url.Action(item.DANH_MUC.HINH_ANH)" alt="">
                                <div class="post-date">
                                    <h3>@item.NGAY_TAO</h3>
                                </div>
                            </div>
                            <div class="post-content">
                                <h2 class="post-title">@item.CAU_HOI1</h2>
                                <div class="post-meta">
                                    <a href="">Ngày đăng:   @item.NGAY_TAO</a>
                                    <a href="">Được đăng bởi:   @item.AspNetUser.Email</a>
                                    <a href="">Danh mục:   @item.DANH_MUC.DANH_MUC1</a>
                                </div>
                                <p>@MvcHtmlString.Create(item.MO_TA)</p>
                            </div>
                            <div>
                                <a href="@Url.Action("Details", "Questions", new { item.ID })">Xem bình luận</a>
                            </div>
                        </div>
                     }
                    Tổng số trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, category = ViewBag.category }))
                </div>
                <!-- Sidebar area -->
                <div class="col-md-4 col-sm-5 sidebar">
                    <!-- Single widget -->
                    <div class="widget-item">
                        <form action="@Url.Action("Search", "Questions")" method="get" class="search-form">
                            <input type="text" name="Keyword" placeholder="Nhập câu hỏi hoặc từ khóa bạn cầm tìm">
                            <button type="submit" class="search-btn">
                                <i class="fab fa-searchengin"></i>
                            </button>
                        </form>
                    </div>
                    <!-- Single widget -->
                    <div class="widget-item">
                        <h2 class="widget-title">Danh mục</h2>
                        @Html.Action("CategoryPartical", "Questions")
                    </div>
                    <!-- Single widget -->
                    <div class="widget-item">
                        <h2 class="widget-title">Tags</h2>
                        <ul class="tag">
                            <li><a href="">branding</a></li>
                            <li><a href="">identity</a></li>
                            <li><a href="">video</a></li>
                            <li><a href="">design</a></li>
                            <li><a href="">inspiration</a></li>
                            <li><a href="">web design</a></li>
                            <li><a href="">photography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page section end-->
</body>
</html>
