@model IEnumerable<CNTTFAQ.Models.CAU_HOI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAU_HOI1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MO_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY_TAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUOT_XEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUYET_DANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DANH_MUC.DANH_MUC1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAU_HOI1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MO_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_TAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUOT_XEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUYET_DANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DANH_MUC.DANH_MUC1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
