<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Template Name: Siopp
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="@Url.Content("~/Assets/css/IndexCss/layout.css")" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/IndexCss/fontawesome-all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/IndexCss/framework.css")">

    <!-- Fontfaces CSS-->
    <link href="@Url.Content("~/Assets/css/AdminIndexCss/font-face.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Assets/vendor/AdminIndexVendor/font-awesome-4.7/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Assets/vendor/AdminIndexVendor/font-awesome-5/css/fontawesome-all.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Assets/vendor/AdminIndexVendor/mdi-font/css/material-design-iconic-font.min.css")" rel="stylesheet" media="all">

</head>
<body id="top">
    <!-- Top Background Image Wrapper -->
    <div class="bgded" style="background-image:url('@Url.Content("~/Assets/images/backgrounds/02.jpg")');">
        <div class="wrapper overlay">
            <div id="pageintro" class="hoc clear" style="padding: 120px 0 165px">
                <article>
                    <h3 class="heading">Tempor imperdiet vitae suspendisse sapien</h3>
                    <p>Odio et turpis dignissim viverra vivamus cursus neque at arcu fusce felis ipsum feugiat sed blandit id scelerisque non sapien.</p>
                    <footer>
                        <ul class="nospace inline pushright">
                            <li><a class="btn" href="#">Fermentum mauris</a></li>
                            <li><a class="btn inverse" href="#">Facilisis quisque</a></li>
                        </ul>
                    </footer>
                </article>
            </div>
        </div>
    </div>
    <!-- End Top Background Image Wrapper -->

    <div class="wrapper row3" style="padding: 1px 0">
        <main class="hoc container clear">
            <!-- main body -->
            <section id="introblocks">
                <ul class="nospace group elements elements-three">
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-balance-scale"></i></a></footer>
                            <h6 class="heading">Nunc pretium consequat</h6>
                            <p>Orci pellentesque ullamcorper pulvinar arcu proin tempor.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-basketball-ball"></i></a></footer>
                            <h6 class="heading">Sapien nulla pellentesque</h6>
                            <p>Orci vestibulum adipiscing blandit eros nisl suscipit.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-beer"></i></a></footer>
                            <h6 class="heading">Tortor sed nibh etiam</h6>
                            <p>Diam ac tincidunt mauris augue ut dolor nam semper ipsum.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-blind"></i></a></footer>
                            <h6 class="heading">Nunc amet placerat</h6>
                            <p>Et purus suspendisse sed quam donec vitae massa nunc.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-bus"></i></a></footer>
                            <h6 class="heading">Pulvinar hac habitasse</h6>
                            <p>Lorem diam rhoncus aliquet lacinia sit amet sodales nec.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <footer><a href="#"><i class="fas fa-cut"></i></a></footer>
                            <h6 class="heading">Nunc tempor gravida</h6>
                            <p>Tellus ut nec lacus et felis porta cursus ut ultricies.</p>
                        </article>
                    </li>
                </ul>
            </section>
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>

    <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
        <section id="services" class="hoc container clear" style="padding: 80px 0">
            <div class="sectiontitle">
                <p class="nospace font-xs">Lacus ligula tincidunt consectetuer</p>
                <h6 class="heading font-x2">Integer mattis ligula ipsum</h6>
            </div>
            <ul class="nospace group elements elements-three">
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-credit-card"></i></a></footer>
                            <h6 class="heading">Donec ullamcorper nisi lectus curabitur</h6>
                        </div>
                        <p>Aliquam id imperdiet nec odio proin luctus consequat est phasellus sed libero vitae turpis dignissim varius nullam eu tellus aenean sit amet risus fusce.</p>
                        <p><a href="#">Varius cursus ante</a></p>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-compress"></i></a></footer>
                            <h6 class="heading">Ultrices posuere cubilia curae feugiat</h6>
                        </div>
                        <p>Sit amet augue lobortis risus imperdiet blandit nullam vitae dui fusce gravida sem ac auctor eleifend sapien dui convallis erat a cursus velit diam et.</p>
                        <p><a href="#">Morbi at lorem ut</a></p>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-futbol"></i></a></footer>
                            <h6 class="heading">Ipsum primis faucibus in orci luctus et</h6>
                        </div>
                        <p>Urna suspendisse suscipit metus vel sem integer porta in hac habitasse platea dictumst aliquam quis nunc aenean augue proin molestie erat in rhoncus.</p>
                        <p><a href="#">Molestie ultricies quam</a></p>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-fire-extinguisher"></i></a></footer>
                            <h6 class="heading">Nec sem donec ut augue vestibulum ante</h6>
                        </div>
                        <p>Posuere nibh quam consectetuer lectus ac vulputate ligula lorem ut dolor morbi ut risus nec orci bibendum commodo integer sem nisl mollis ut ornare eu.</p>
                        <p><a href="#">Aenean tincidunt turpis</a></p>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-medkit"></i></a></footer>
                            <h6 class="heading">Commodo elit eget erat tellus nullam</h6>
                        </div>
                        <p>Lobortis eget ante mauris tempor suspendisse nulla donec tincidunt tellus ac quam in eget risus phasellus faucibus adipiscing velit maecenas volutpat.</p>
                        <p><a href="#">Vel ante donec tortor</a></p>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <div>
                            <footer><a href="#"><i class="fas fa-recycle"></i></a></footer>
                            <h6 class="heading">Orci nulla sit amet lorem curabitur</h6>
                        </div>
                        <p>Aliquam leo aliquam at odio mauris egestas interdum magna libero vivamus malesuada adipiscing sapien morbi arcu pharetra eu interdum quis blandit ac.</p>
                        <p><a href="#">Neque placerat eget</a></p>
                    </article>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgded overlay row4" style="background-image:url('@Url.Content("~/Assets/images/backgrounds/03.jpg")');">
        <footer id="footer" class="hoc clear">
            <figure id="ctdetails">
                <ul class="nospace group">
                    <li class="one_third first">
                        <div class="clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> 028. 71099240</span></div>
                    </li>
                    <li class="one_third">
                        <div class="clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> k.cntt@vanlanguni.edu.vn</span></div>
                    </li>
                    <li class="one_third">
                        <div class="clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong><a href="https://www.vanlanguni.edu.vn/cac-khoa-size-bar-2/198-khoa-cong-nghe-thong-tin">Lầu 5, tòa nhà LV – Cơ sở 3</a></span></div>
                    </li>
                </ul>
            </figure>

            <div class="one_quarter first">
                <h1 class="logoname"><a href="@Url.Action("Index", "Home")">Van<span>Lang</span></a></h1>
                <p>Tháng 6/2020, Tập đoàn Giáo dục Văn Lang công bố quyết định thành lập Trường Cao đẳng Văn Lang Sài Gòn. Nếu bạn muốn học ngành Công nghệ Thông tin chỉ với 2 năm đào tạo và ra trường với tay nghề cao, bạn có thể tìm hiểu chi tiết hơn về Chương trình Đào tạo ngành Công nghệ Thông tin của Trường Cao đẳng Văn Lang Sài Gòn [<a href="#">&hellip;</a>]</p>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="https://www.facebook.com/khoacntt.vanlang"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="faicon-google-plus" href="https://www.youtube.com/user/truongdhvanlang"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="faicon-linkedin" href="https://www.instagram.com/vanlanguniversity/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Molestie massa volutpat</h6>
                <p class="nospace btmspace-15">Sit amet augue curabitur auctor consequat leo nam quis arcu.</p>
                <form action="#" method="post">
                    <fieldset>
                        <legend>Newsletter:</legend>
                        <input class="btmspace-15" type="text" value="" placeholder="Name">
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <button class="btn" type="submit" value="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="one_quarter">
                <h6 class="heading">The main campuses of Van Lang University</h6>
                <ul class="nospace linklist">
                    <li><a>Cơ sở chính: 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</a></li>
                    <li><a>Cơ sở 1: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, TP. HCM</a></li>
                    <li><a>Cơ sở 2: 233A Phan Văn Trị, P.11, Q. Bình Thạnh, TP. HCM</a></li>
                    <li><a>Ký túc xá: 160/63A-B Phan Huy Ích, P. 12, Q. Gò Vấp, TP. HCM</a></li>
                    <li><a>Website: http://cntt.vanlanguni.edu.vn</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Libero pretium luctus</h6>
                <ul class="nospace clear latestimg">
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                </ul>
            </div>
        </footer>
    </div>

    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Website by <a target="_blank" href="https://tuyensinh.vanlanguni.edu.vn/cong-nghe-thong-tin/" title="Free Website Templates">SEPK24T-Team11</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

    <!-- JAVASCRIPTS -->
    <script src="@Url.Content("~/Assets/js/IndexJS/jquery.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/IndexJS/jquery.backtotop.js")"></script>
    <script src="@Url.Content("~/Assets/js/IndexJS/jquery.mobilemenu.js")"></script>
    <!-- Homepage specific -->
    <script src="@Url.Content("~/Assets/js/IndexJS/jquery.easypiechart.min.js")"></script>
    <!-- / Homepage specific -->
</body>
</html>