@using CNTTFAQ.Models
@model LoginViewModel

<!doctype html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link href="@Url.Content("~/Assets/images/logo/VanLangLogoPage.png")" rel="shortcut icon" />

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/Login2Css/style.css")">

</head>
<body class="img js-fullheight">
    <video autoplay muted loop id="myVideo">
        <source src="@Url.Content("~/Assets/images/backgrounds/LoginBG.mp4")" type="video/mp4"/>
    </video>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 40px !important">
                <div class="col-md-6 text-center mb-5" style="margin-bottom: 20px !important">
                    <h2 class="heading-section">Chào mừng đến với</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <img src="@Url.Content("~/Assets/images/logo/Nav-Logo.png")" width="200" style="margin-left: 70px; margin-bottom: 1.5rem !important" alt="FAQ IT Văn Lang"/>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input name="Email" type="text" class="form-control" placeholder="Tài khoản">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input name="Password" id="password-field" type="password" class="form-control" placeholder="Mật khẩu">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary" style="color: white">
                                        Ghi nhớ
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="@Url.Action("Index", "Home")" style="color: #fff">Quay lại trang chủ</a>
                                </div>
                            </div>
                        }
                        <p class="w-100 text-center">&mdash; Hoặc đăng nhập với tài khoản &mdash;</p>
                        <div class="form-group">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----Login Scripts----->
    <script src="@Url.Content("~/Assets/js/Login2Css/jquery.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/Login2Css/popper.js")"></script>
    <script src="@Url.Content("~/Assets/js/Login2Css/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/Login2Css/main.js")"></script>
</body>
</html>
