<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Favicon -->
    <link href="@Url.Content("~/Assets/images/logo/VanLangLogoPage.png")" rel="shortcut icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/bootstrap.min.css")">
    <!-- Core Navigation -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/coreNavigation-1.1.3.min.css")">
    <!-- Navbar Style -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/navbar-style.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/owl.carousel.min.css")">
    <!-- Animate.css -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/animate.css")">
    <!-- Line Icons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- LightBox -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/lightbox.min.css")">
    <!-- Style -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/style.css")">
    <!-- Style SCSS-->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/PortaUserPageCss/style.scss")">
</head>
<body>
    <!-- ==============================================
    Preloader
    =============================================== -->
    <div class="preloader-holder" style="background-image: url('@Url.Content("~/Assets/images/backgrounds/preloader.jpg")')">
        <div id="loader">
            <div id="shadow"></div>
            <div id="box"></div>
        </div>
    </div>
    <!-- ==============================================
    NAVBAR
    =============================================== -->
    <nav hidden>
        <div class="nav-header">
            <!-- Navbar Logo -->
            <a href="@Url.Action("Index", "Home")" class="brand">
                <img class="scrolled" src="@Url.Content("~/Assets/images/logo/FAQAdmin-Logo.png")" alt="logo">
                <img class="top" src="@Url.Content("~/Assets/images/logo/Nav-Logo.png")" alt="logo-scrolled">
            </a>
            <!-- Burger Menu -->
            <button class="toggle-bar">
                <span class="fa fa-bars"></span>
            </button>
        </div>
        <!-- Navbar Links -->
        <ul class="menu">
            <li class="scrollspy"><a href="#about">Giới thiệu</a></li>
            <li class="scrollspy"><a href="#pricing">Chủ đề</a></li>
            <li class="scrollspy"><a href="#contact">Liên hệ</a></li>
            <li><a href="@Url.Action("Index", "Questions")">FAQ</a></li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
        @if (ViewBag.ResultMessage != null)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.ResultMessage");
                    }
            </script>
        }
    </nav>
    <!-- Header section end -->
    @RenderBody()
    <!-- ==============================================
    FOOTER
    =============================================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; @DateTime.Now.Year All Rights Reserved | Design by <a>SEPK24T-Team11.</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/jquery.easing.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/bootstrap.min.js")"></script>
    <!-- Core Navigation -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/coreNavigation-1.1.3.min.js")"></script>
    <!-- Owl Carousel -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/owl.carousel.min.js")"></script>
    <!-- Wow -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/wow-1.3.0.min.js")"></script>
    <!-- LightBox -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/lightbox.min.js")"></script>
    <!-- Custom -->
    <script src="@Url.Content("~/Assets/js/PortaUserPageJS/custom.js")"></script>

    @*    <script src="@Url.Content("~/Assets/js/ArshaUserPageJS/main.js")"></script>
    *@    @RenderSection("scripts", required: false)
</body>
</html>